## Book Recommender System

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
books = pd.read_csv('BX-Books.csv', sep=";", error_bad_lines=False, encoding='latin-1')

C:\Users\Nandini Nautiyal\AppData\Local\Temp\ipykernel_13212\2060279419.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  books = pd.read_csv('BX-Books.csv', sep=";", error_bad_lines=False, encoding='latin-1')
Skipping line 6452: expected 8 fields, saw 9
Skipping line 43667: expected 8 fields, saw 10
Skipping line 51751: expected 8 fields, saw 9

Skipping line 92038: expected 8 fields, saw 9
Skipping line 104319: expected 8 fields, saw 9
Skipping line 121768: expected 8 fields, saw 9

Skipping line 144058: expected 8 fields, saw 9
Skipping line 150789: expected 8 fields, saw 9
Skipping line 157128: expected 8 fields, saw 9
Skipping line 180189: expected 8 fields, saw 9
Skipping line 185738: expected 8 fields, saw 9

Skipping line 209388: expected 8 fields, saw 9
Skipping line 220626: expected 8 fields, saw 9
Skipping line 227933: expected 8 fields, saw 11
Skipping line 228957: expected 8 fields, saw 10
Skipping line 245933: expected 8 fields, saw 9
Skipping line 251296: expected 8 fields, saw 9
Skipping line 259941: expected 8 fields, saw 9
Skipping line 261529: expected 8 fields, saw 9

C:\Users\Nandini Nautiyal\AppData\Local\Temp\ipykernel_13212\2060279419.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('BX-Books.csv', sep=";", error_bad_lines=False, encoding='latin-1')

In [3]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [4]:
books.shape

(271360, 8)

In [5]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [6]:
books=books[['ISBN','Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-L']]

In [7]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [8]:
books.rename(columns={
    "Book-Title":"title",
    "Book-Author":"author",
    "Year-Of-Publication":"year",
    "Publisher":"publisher",
    "Image-URL-L":"img_url"
},inplace =True)

In [9]:
books.head()

,ISBN,title,author,year,publisher,img_url
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [10]:
users=pd.read_csv('BX-Users.csv', sep=";", error_bad_lines=False, encoding='latin-1')

C:\Users\Nandini Nautiyal\AppData\Local\Temp\ipykernel_13212\2225883060.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  users=pd.read_csv('BX-Users.csv', sep=";", error_bad_lines=False, encoding='latin-1')

In [11]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [12]:
users.shape

(278858, 3)

In [13]:
ratings= pd.read_csv('BX-Book-Ratings.csv', sep=";", error_bad_lines=False, encoding='latin-1')

C:\Users\Nandini Nautiyal\AppData\Local\Temp\ipykernel_13212\3679968888.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  ratings= pd.read_csv('BX-Book-Ratings.csv', sep=";", error_bad_lines=False, encoding='latin-1')

In [14]:
ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [15]:
ratings.shape

(1149780, 3)

In [16]:
ratings.rename(columns={
    "User-ID":"user_id",
    "Book-Rating":"rating"
},inplace =True)

In [17]:
ratings.head()

   user_id        ISBN  rating
0   276725  034545104X       0
1   276726  0155061224       5
2   276727  0446520802       0
3   276729  052165615X       3
4   276729  0521795028       6

In [18]:
ratings['user_id'].value_counts()

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
116180        1
116166        1
116154        1
116137        1
276723        1
Name: user_id, Length: 105283, dtype: int64

In [19]:
ratings['user_id'].unique().shape

(105283,)

In [20]:
x=ratings['user_id'].value_counts()>200

In [21]:
x

11676      True
198711     True
153662     True
98391      True
35859      True
          ...
116180    False
116166    False
116154    False
116137    False
276723    False
Name: user_id, Length: 105283, dtype: bool

In [22]:
x[x].shape

(899,)

In [23]:
y=x[x].index

In [24]:
y

Int64Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352,
            110973, 235105,
            ...
            260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727,
            268622, 188951],
           dtype='int64', length=899)

In [25]:
ratings=ratings[ratings['user_id'].isin(y)]

In [26]:
ratings.head()

      user_id        ISBN  rating
1456   277427  002542730X      10
1457   277427  0026217457       0
1458   277427  003008685X       8
1459   277427  0030615321       0
1460   277427  0060002050       0

In [27]:
ratings.shape

(526356, 3)

In [28]:
ratings_and_books=ratings.merge(books, on="ISBN")

In [29]:
ratings_and_books.head()

,user_id,ISBN,rating,title,author,year,publisher,img_url
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...

In [30]:
ratings_and_books.shape

(487671, 8)

In [31]:
num_rating=ratings_and_books.groupby('title')['rating'].count().reset_index()

In [32]:
num_rating.head()

                                               title  rating
0   A Light in the Storm: The Civil War Diary of ...       2
1                              Always Have Popsicles       1
2               Apple Magic (The Collector's series)       1
3   Beyond IBM: Leadership Marketing and Finance ...       1
4   Clifford Visita El Hospital (Clifford El Gran...       1

In [33]:
num_rating.rename(columns={
    "rating":"no_of_rating",
}, inplace=True)

In [34]:
num_rating.head()

                                               title  no_of_rating
0   A Light in the Storm: The Civil War Diary of ...             2
1                              Always Have Popsicles             1
2               Apple Magic (The Collector's series)             1
3   Beyond IBM: Leadership Marketing and Finance ...             1
4   Clifford Visita El Hospital (Clifford El Gran...             1

In [35]:
final=ratings_and_books.merge(num_rating, on= "title")

In [36]:
final.head()

,user_id,ISBN,rating,title,author,year,publisher,img_url,no_of_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82

In [37]:
final=final[final["no_of_rating"]>=50]

In [38]:
final.head()

,user_id,ISBN,rating,title,author,year,publisher,img_url,no_of_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
1,3363,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
2,11676,002542730X,6,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
3,12538,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
4,13552,002542730X,0,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82

In [39]:
final.drop_duplicates(['user_id','title'],inplace=True)

In [40]:
final.shape

(59850, 9)

In [41]:
book_pivot=final.pivot_table(columns='user_id',index='title',values='rating')

In [42]:
book_pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2nd Chance,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,NaN
4 Blondes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
84 Charing Cross Road,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,7.0,NaN,NaN,NaN,NaN,7.0,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,8.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [43]:
book_pivot.shape

(742, 888)

In [44]:
book_pivot.fillna(0, inplace=True)

In [45]:
book_pivot

user_id,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
title,,,,,,,,,,,,,,,,,,,,,
1984,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1st to Die: A Novel,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2nd Chance,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4 Blondes,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
84 Charing Cross Road,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,0.0,0.0,0.0,7.0,0.0,0.0,0.0,0.0,7.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
You Belong To Me,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
Zoya,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
"\O\"" Is for Outlaw""",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [46]:
from scipy.sparse import csr_matrix

In [47]:
book_sparse= csr_matrix(book_pivot)

In [48]:
book_sparse

<742x888 sparse matrix of type '<class 'numpy.float64'>'
	with 14942 stored elements in Compressed Sparse Row format>

In [49]:
from sklearn.neighbors import NearestNeighbors

In [50]:
model=NearestNeighbors(algorithm='brute')

In [51]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [52]:
distance, suggestion=model.kneighbors(book_pivot.iloc[237,:].values.reshape(1,-1),n_neighbors=6)

In [53]:
distance

array([[ 0.        , 68.78953409, 69.5413546 , 72.64296249, 76.83098333,
        77.28518616]])

In [54]:
suggestion

array([[237, 240, 238, 241, 184, 536]], dtype=int64)

In [55]:
for i in range (len(suggestion)):
    print(book_pivot.index[suggestion[i]])

Index(['Harry Potter and the Chamber of Secrets (Book 2)',
       'Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       'Harry Potter and the Sorcerer's Stone (Book 1)', 'Exclusive',
       'The Cradle Will Fall'],
      dtype='object', name='title')

In [56]:
book_pivot.index[3]

'4 Blondes'

In [57]:
book_name=book_pivot.index

In [58]:
import pickle

In [59]:
pickle.dump(model,open('artifacts/model.pkl', 'wb'))
pickle.dump(book_name,open('artifacts/book_name.pkl', 'wb'))
pickle.dump(final,open('artifacts/final.pkl', 'wb'))
pickle.dump(book_pivot,open('artifacts/book_pivot.pkl', 'wb'))

In [62]:
def recommend_book(book_name):
    book_id = np.where(book_pivot.index == book_name)[0][0]
    distance, suggestion = model.kneighbors(book_pivot.iloc[book_id, :].values.reshape(1, -1), n_neighbors=6)
    
    recommended_books = []
    
    for i in range(len(suggestion)):
        books_list = book_pivot.index[suggestion[i]]
        for j in books_list:
            img_url = books[books['title'] == j]['img_url'].values[0]  # Use 'books' instead of 'books_df'
            recommended_books.append((j, img_url))
    
    # Display book names and image URLs
    for book, img in recommended_books:
        print(f"Book: {book}")
        print(f"Image URL: {img}")

# Test the function
book_name = 'A Bend in the Road'
recommend_book(book_name)

Book: A Bend in the Road
Image URL: http://images.amazon.com/images/P/0446527785.01.LZZZZZZZ.jpg
Book: Exclusive
Image URL: http://images.amazon.com/images/P/0446604232.01.LZZZZZZZ.jpg
Book: The Cradle Will Fall
Image URL: http://images.amazon.com/images/P/0671741195.01.LZZZZZZZ.jpg
Book: No Safe Place
Image URL: http://images.amazon.com/images/P/0345404777.01.LZZZZZZZ.jpg
Book: Family Album
Image URL: http://images.amazon.com/images/P/0440124344.01.LZZZZZZZ.jpg
Book: Last Man Standing
Image URL: http://images.amazon.com/images/P/0446525804.01.LZZZZZZZ.jpg

In [63]:
book_name='Harry Potter and the Chamber of Secrets (Book 2)'
recommend_book(book_name)

Book: Harry Potter and the Chamber of Secrets (Book 2)
Image URL: http://images.amazon.com/images/P/0439064872.01.LZZZZZZZ.jpg
Book: Harry Potter and the Prisoner of Azkaban (Book 3)
Image URL: http://images.amazon.com/images/P/0439136350.01.LZZZZZZZ.jpg
Book: Harry Potter and the Goblet of Fire (Book 4)
Image URL: http://images.amazon.com/images/P/0439139597.01.LZZZZZZZ.jpg
Book: Harry Potter and the Sorcerer's Stone (Book 1)
Image URL: http://images.amazon.com/images/P/0590353403.01.LZZZZZZZ.jpg
Book: Exclusive
Image URL: http://images.amazon.com/images/P/0446604232.01.LZZZZZZZ.jpg
Book: The Cradle Will Fall
Image URL: http://images.amazon.com/images/P/0671741195.01.LZZZZZZZ.jpg

In [64]:
# Merge books and ratings dataset
book_ratings = ratings.merge(books, on='ISBN')

# Compute book popularity based on the number of ratings
top_books = book_ratings.groupby(['title', 'img_url']).size().reset_index(name='num_ratings')

# Get the top 50 books with the most ratings
top_50_books = top_books.sort_values(by='num_ratings', ascending=False).head(50)

# Display the top 50 books with image links
top_50_books

,title,img_url,num_ratings
173558,Wild Animus,http://images.amazon.com/images/P/0971880107.0...,363
144644,The Lovely Bones: A Novel,http://images.amazon.com/images/P/0316666343.0...,270
38689,Divine Secrets of the Ya-Ya Sisterhood: A Novel,http://images.amazon.com/images/P/0060928336.0...,220
148718,The Pelican Brief,http://images.amazon.com/images/P/0440214041.0...,218
134547,The Da Vinci Code,http://images.amazon.com/images/P/0385504209.0...,215
137812,The Firm,http://images.amazon.com/images/P/044021145X.0...,206
5358,A Time to Kill,http://images.amazon.com/images/P/0440211727.0...,203
118650,Snow Falling on Cedars,http://images.amazon.com/images/P/067976402X.0...,194
141070,The Horse Whisperer,http://images.amazon.com/images/P/0440222656.0...,183
58449,Harry Potter and the Sorcerer's Stone (Harry P...,http://images.amazon.com/images/P/059035342X.0...,183
172366,Where the Heart Is (Oprah's Book Club (Paperba...,http://images.amazon.com/images/P/0446672211.0...,183
67854,Interview with the Vampire,http://images.amazon.com/images/P/0345337662.0...,176
142331,The Joy Luck Club,http://images.amazon.com/images/P/0804106304.0...,172
150840,The Red Tent (Bestselling Backlist),http://images.amazon.com/images/P/0312195516.0...,171
149149,The Pilot's Wife : A Novel,http://images.amazon.com/images/P/0316601950.0...,171
10894,Angels &amp; Demons,http://images.amazon.com/images/P/0671027360.0...,168
71115,Jurassic Park,http://images.amazon.com/images/P/0345370775.0...,166
55484,Good in Bed,http://images.amazon.com/images/P/0743418174.0...,166
147597,The Notebook,http://images.amazon.com/images/P/0446605239.0...,166
4001,A Painted House,http://images.amazon.com/images/P/044023722X.0...,164
152556,The Secret Life of Bees,http://images.amazon.com/images/P/0142001740.0...,160
123593,Summer Sisters,http://images.amazon.com/images/P/0440226430.0...,159
62716,House of Sand and Fog,http://images.amazon.com/images/P/0375727345.0...,158
85993,Message in a Bottle,http://images.amazon.com/images/P/0446606812.0...,157
148872,The Perfect Storm : A True Story of Men Agains...,http://images.amazon.com/images/P/006101351X.0...,149
133011,The Client,http://images.amazon.com/images/P/0440213525.0...,145
78183,Little Altars Everywhere: A Novel,http://images.amazon.com/images/P/0060976845.0...,145
86600,Midwives: A Novel,http://images.amazon.com/images/P/0375706771.0...,143
3129,A Is for Alibi (Kinsey Millhone Mysteries (Pap...,http://images.amazon.com/images/P/0553279912.0...,140
162697,To Kill a Mockingbird,http://images.amazon.com/images/P/0446310786.0...,139
151754,The Runaway Jury,http://images.amazon.com/images/P/0440221471.0...,139
132473,The Chamber,http://images.amazon.com/images/P/0440220602.0...,138
107329,Red Dragon,http://images.amazon.com/images/P/0440206154.0...,138
150512,The Rainmaker,http://images.amazon.com/images/P/044022165X.0...,138
4279,A Prayer for Owen Meany,http://images.amazon.com/images/P/0345361792.0...,137
154632,The Street Lawyer,http://images.amazon.com/images/P/0440225701.0...,137
146857,The Nanny Diaries: A Novel,http://images.amazon.com/images/P/0312278586.0...,136
131372,The Bridges of Madison County,http://images.amazon.com/images/P/044651652X.0...,135
147499,The No. 1 Ladies' Detective Agency (Today Show...,http://images.amazon.com/images/P/1400034779.0...,135
54300,Girl with a Pearl Earring,http://images.amazon.com/images/P/0452282152.0...,135
149859,The Prince of Tides,http://images.amazon.com/images/P/0553268880.0...,134
149388,The Poisonwood Bible: A Novel,http://images.amazon.com/images/P/0060930535.0...,133
77488,Life of Pi,http://images.amazon.com/images/P/0156027321.0...,131
111349,STONES FROM THE RIVER,http://images.amazon.com/images/P/068484477X.0...,131
57947,Hannibal,http://images.amazon.com/images/P/0440224675.0...,131
115954,She's Come Undone (Oprah's Book Club (Paperback)),http://images.amazon.com/images/P/0671003755.0...,130
9078,Along Came a Spider (Alex Cross Novels),http://images.amazon.com/images/P/0446364193.0...,129
131285,The Brethren,http://images.amazon.com/images/P/0440236673.0...,129
13590,B Is for Burglar (Kinsey Millhone Mysteries (P...,http://images.amazon.com/images/P/0553280341.0...,128
115955,She's Come Undone (Oprah's Book Club),http://images.amazon.com/images/P/0671021001.0...,128

In [65]:
pickle.dump(top_50_books,open('artifacts/top_50_books.pkl', 'wb'))

In [66]:
top_50_books = top_50_books.reset_index(drop=True)
top_50_books['img_url'][0]  # Now this should work

'http://images.amazon.com/images/P/0971880107.01.LZZZZZZZ.jpg'